<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.demo.mapper.test.DeptMapper">

    <resultMap id="BaseResultMap" type="com.example.springboot.demo.entity.test.Dept">
        <result column="DEPTNO" property="deptNo"/>
        <result column="DNAME" property="dName"/>
        <result column="LOC" property="loc"/>
        <result column="FLAG" property="flag"/>
    </resultMap>

    <sql id="Base_Column_List">
		DEPTNO,DNAME,LOC,FLAG
	</sql>

    <select id="listAll" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from dept
    </select>

</mapper>